
   body {
  background-image: url("pastel.jpg");
  /* Full height */
  height: 1459%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p.thicker {
  font-weight: 900;
}
</style>
</head>
<body>
